.steps-main-div {
  width: 30%;
  height: calc(100vh - 20px);
  background: rgb(84, 83, 196);
  background: linear-gradient(
    0deg,
    rgba(84, 83, 196, 1) 39%,
    rgba(0, 212, 255, 1) 96%
  );
  border-radius: 5px;
}

@media only screen and (max-width: 660px) {
  .steps-main-div {
    width: 100%;
    border-radius: 0;
    height: 30vh;
  }
}
