:root {
  --principal-bg-white: rgb(243, 243, 247);
  --secondary-bg-white: rgb(223, 231, 248);
  --principal-text: rgb(48, 48, 102);
  --gray: rgb(216, 206, 206);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
